*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    margin: 0;
    color: green;

}

h2{
    color:green;

}

p{
    color: white;
}

a.active{
    text-decoration: none;
    color:black;
    font-size: 15pt;
    padding: 3pt;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color:black;
    font-size: 15pt;
    padding: 3pt;
    border-radius: 5px;
}

a.active:hover{
    background-color: green;
    color: white;
    font-weight: bolder;
    
}
a:hover{
    background-color: green;
    color: white;
    font-weight: bolder;
    
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    
}


.sample{
    background-color: white;
    padding:4px;
    border-radius: 10px;
}

.sample1 .dropdown{
    position: absolute;
    display: inline-block;
}


.sample1 .dropdown-content{
    display: none;
    background-color: white;
    min-width: 100px;
    box-shadow: 5px 5px 5px 5px green;
    position:absolute;
    z-index:1;
    border-radius: 5px;
}

.sample1 .dropdown:hover .dropdown-content{
    display: block;
}

